/* home page starting */

.mainPage{
  background-color: white;
  padding-bottom: 20px;
  padding-top: 10px;
} 
.mainDescription{
  margin-top: 20px;
  padding-top: 70px;
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  width: 50%;
  margin-left: 50px;
  flex: 50%;
  display: flex;
  float: left;
}
.mainPageImage{
  float: right;
  height: 350px;
  width: 35%;
  margin-right: 100px;
  margin-top: 90px;
  border-radius: 20%;

}
.shortDescription{
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  width: 50%;
  margin-left: 50px;
  flex: 50%;
  display: flex;
  color: #31343c;
}
.explore {
  background-color: #073763ff;
  color: lightyellow;
  border: 2px solid lightyellow;
  padding: 15px 32px;
  margin-bottom: 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 4px;
}

/* heading  */
.Question{
  /* background-color: #f2f3f6; */
  text-align: center;
  margin-top: 50px;
  font-size: 8vh;
}
.paraQuestion{
  /* margin-top: 20px;
  padding-top: 20px; */
  /* padding-bottom: 50px; */
  font-family: 'Manrope', sans-serif;
}
.Qdescription{
  text-align: center;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
}
.Qspan{
  color: #fe6c3e;
}
.courses{
  text-align: left;
}
/* carousel  */
.CarouselContainerHome{
  /* width: 80vw; */
  height: 80vh;
  margin: auto;
  /* margin-top: 10px; */
  background-color: rgb(235, 239, 243);
}

.Carouselimage{
  height: 50vh;
  width: 50vw;
  margin-top: 10vh;
  /* margin-bottom: 5vh; */
  margin-left: 25vw;
  /* position: relative; */ 
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselCaption{
  width: 50vw;
  margin-left: 25vw;
  color: white;
  text-align: center;
  margin-bottom: 7vh;
  /* margin-left: .2vw; */
  background-color: rgb(54, 53, 53); 
}



/* Monthly quizes  */

.practiseQuizWorkshop{
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vh;
}
.monthyQuizes{
  width: 40vw;
  height: 60vh;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 18px cadetblue;
}
.monthyQuizes h2{
  text-align: center;
  margin-top: 10px;
}
.monthyQuizes img{
  width: 40vw;
  margin-top: 10px;
  padding: 10px;
}

.englishWorkshops{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  box-shadow: 5px 10px 18px purple;
  /* border: d red; */
  /* background-color: blueviolet; */
}
.englishWorkshops h2{
  text-align: center;
  margin-top: 10px;
}
.englishWorkshops img{
  width: 40vw;
  padding: 10px;
  margin-top: 10px;
}


@media only screen and (max-width: 1064px){
  .mainPage{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .mainPageImage{
    height: 350px;
    margin: auto;
    width: 80%;
  
  }
  .mainDescription{
      margin-top: 20px;
      padding-top: 70px;
      font-family: 'Manrope', sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      width: 80%;
      text-align: left;
      display: flex;
      justify-content: center;
    }
    .shortDescription{
      margin-top: 30px;
      font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      width: 80%;
      text-align: left;
      display: flex;
      justify-content: center;
      color: #31343c;
    }
    .explore {
      background-color: #073763ff;
      color: lightyellow;
      border: 2px solid lightyellow;
      padding: 15px 32px;
      margin-bottom: 110px;
      text-align: center;
      width: 50%;
      margin: auto;
      text-decoration: none;
      display: inline-block;

      margin-top: 10px;
      font-size: 16px;
      border-radius: 4px;
    }
    .paraQuestion{
      font-size: 40px;
      text-align: center;
      justify-content: center;
    }
    .Carouselimage{
      height: 35vh;
      width: 50vw;
      margin-top: 10vh;
      /* margin-bottom: 5vh; */
      margin-left: 25vw;
      /* position: relative; */ 
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .carouselCaption{
    width: 50vw;
    margin-left: 25vw;
    color: white;
    text-align: center;
    margin-bottom: 7vh;
    /* margin-left: .2vw; */
    background-color: rgb(54, 53, 53); 
  }
} 
@media only screen and (max-width: 582.5px){
  .practiseQuizWorkshop{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
}
.practiseQuizWorkshop h2{
  font-size: 40;
}
  .monthyQuizes{
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 60vh;
    box-shadow: 5px 10px 18px cadetblue;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 67px;
  }
  .englishWorkshops{
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 60vh;
    box-shadow: 5px 10px 18px purple;
    margin-left: 67px;
  }
}